:root {
  /* Colors */  
  --body-bgr-color: #f5f5f5;
  --body-color: #2e2f42;

  --menu-item-accent: #404bbf;
  --menu-color: #434455;

  --form-bgr-color: #ffffff;
  --item-bgr-color: #f6f6fe;

  --button-color: #ffffff;
  --button-bgr-color: #4e75ff;
  --button-accent-bgr-color: #6c8cff;
  --button-disabled: #808080;

  --input-color: #808080;
  --input-hover-border: #000;
  --input-border: #808080;
}
