.feedback-form {
    margin-left: auto;
    margin-right: auto;
    width: 408px;
    padding: 24px;
    background-color: var(--form-bgr-color);
  }
  
  .feedback-form-inputs-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;
  }
  
  .feedback-form-field-label {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }
  
  .feedback-form-input {   
    height: 40px;
    flex-shrink: 0;
    width: 100%;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    outline: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .feedback-form-input:hover,
  .feedback-form-input:focus {
    cursor: pointer;
    border: 1px solid var(--input-hover-border);
  }

  .feedback-form-input:active {
    cursor: auto;
    border: 1px solid var(--input-border);
  }
  
  .feedback-form-message {
    height: 80px;
    resize: none;
  }
  
  .feedback-form-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;  
    color: var(--button-color);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 8px;
    background-color: var(--button-bgr-color);
  }
  
  .feedback-form-button:hover,
  .feedback-form-button:focus {
    background-color: var(--button-accent-bgr-color);
  }
  