@import url('./utils/variables.css');
@import url('./utils/visually-hidden.css');

@import url('./base/common.css');
@import url('./base/container.css');
@import url('./layout/header.css');

@import url("./layout/gallery.css");
@import url("./layout/modal-window.css");
@import url("./layout/basic-lightbox-window.css");

@import url("./layout/feedback-form.css");
            